body{
    background-image: url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.header{
    color: white;
}

ul li {
    display: flex;
    justify-content: space-between;
}

.lista{
    color: white;
}

.tasks{
    color: white;
}
